# Google OAuth - crie as credenciais em https://console.cloud.google.com
# Tipo: OAuth 2.0 - Aplicativo da Web (para Expo Go) + iOS (para build nativo)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=seu-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=seu-ios-client-id.apps.googleusercontent.com
